/*=================RESET=================*/
/*Unstyle links*/
:where(a) {
	all: unset;
	cursor: pointer;
}

/*Unstyle ol & ul*/
:where(ol, ul, li, strong) {
	all: unset;
}
:where(span) {
	display: inline-block;
}
:where(input) {
	border-style: solid;
	outline: none;
}
/*Hide input[type='number'] arrows*/
input[type='nubmer']::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
	appearance: none;
}
/*Hide input[type='search'] crosshair*/
input[type='search']::-webkit-search-cancel-button {
	appearance: none;
}
/*Unset default button styles*/
:where(button) {
	all: unset;
	appearance: none;
	cursor: pointer;
	display: inline-flex;
}
:where(img) {
	width: 100%;
}
:where(h5) {
	display: inline-block;
}
:where(hr) {
	height: 1px;
}
:where(mark, u) {
	all: unset;
}
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::before, ::after {
	position: absolute;
}
/*===============RESET===============*/
body {
	overflow-x: hidden;
}
:root {
	--color-1: #00B5E7;
	--color-1-1: rgba(0, 181, 231, 0.3);
	--color-2: #0B2E59;
	--color-3: #313131;
	--color-4: #7429FF;
	--color-5: #FF5D57;
}
.l-row-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.l-row-between-start {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.l-col-between {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.l-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.l-row-start {
	display: flex;
	align-items: center;
	justify-content: start;
}
.l-row-start-start {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.l-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.l-col-start {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.l-col-between-start {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.container {
	max-width: 960px;
	margin-inline: auto;
	box-sizing: content-box;
	padding-inline: 30px;
}
nav {
	color: var(--color-1);
	white-space: nowrap;
}
.nav__wrap {
	position: relative;
}
.nav__wrap .center {
	gap: 40px;
	height: 70px;
}
@font-face {
	font-family: "PF Agora Sans Pro 1000";
	src: url(fonts/PFAgoraSansPro-UltraBlack.woff2);
}
@font-face {
	font-family: "PF Agora Sans Pro 700";
	src: url(fonts/PFAgoraSansPro-Bold.woff2);
}
h3 {
	font-family: 'PF Agora Sans Pro 1000';
	font-style: normal;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 7px;
}
.burger-btn {
	width: 40px;
	height: 40px;
	--border-radius: 10px;
	cursor: pointer;
	--burger-stick-color: var(--color-1);
	gap: 6px;
	position: relative;
	flex-shrink: 0;
}
.burger-btn.--active .burger-stick:nth-child(1) {
	transform: rotate(45deg) translate(10px, 10px);
}

.burger-btn.--active .burger-stick:nth-child(2) {
	opacity: 0;
}

.burger-btn.--active .burger-stick:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -6px);
}
.burger-btn * {
	transition: all 0.5s;
}
.burger-stick {
	width: 100%;
	height: 6px;
	background-color: var(--burger-stick-color);
	border-radius: var(--border-radius);
	position: relative;
}
.burger-content {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 300px;
	border-width: 0px 10px 10px 0px;
	border-style: solid;
	border-color: var(--color-2);
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
	border-radius: 0px 0px 8px 0px;
	background-color: var(--color-2);
	transition: all 500ms;
	pointer-events: none;
	z-index: 2;
}
.burger-content * {
	border-radius: 5px;
}
.burger-content .inner {
	border-radius: 0px 0px 3px 0px;
	background-color: white;
	gap: 40px;
	display: flex;
	flex-direction: column;
	padding-block-end: 24px;
	padding-block-start: 30px;
}
.burger-content.--active {
	color: var(--color-2);
	opacity: 1;
	pointer-events: all;
}
h4 {
	font-family: 'PF Agora Sans Pro 700';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
}
.burger-content h4 {
	margin-inline-start: 45px;
}
.burger__line {
	background-color: currentColor;
	height: 1px;
	width: 100%;
	margin-block: 10px;
}
.burger-content .items {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.dark {
	color: var(--color-2);
}
.light {
	color: var(--color-1);
}
.burger-content .light h4 {
	margin: 0;
}

.burger-content .lk {
	gap: 20px;
}
.burger-content .points {
	align-self: flex-start;
}
@media (max-width:375px) {
	.s-row-rev {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	.s-col-start {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.s-row-start {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.s-row-start-rev {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	}
	.s-col-between-start-rev {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}
	nav {
		background-color: var(--color-1);
	}
	nav h3 {
		display: none;
	}
	nav .user {
		display: none;
	}
	nav .logo path {
		fill: white;
	}
	.nav__wrap {
		padding: 5px 10px;
		height: 50px;
	}
	nav .logo {
		width: 58px;
		height: 40px;
	}
	.burger-content {
		top: 100%;
		width: 100%;
		box-shadow: none;
	}
	.burger-content {
		border: none;
	}
	.burger-btn {
		--burger-stick-color: white;
	}
	.container {
		padding-inline: 10px;
	}
}




.ticker {
	color: white;
	margin-block-end: 40px;
}
.ticker .container {
	position: relative;
}
.ticker__wrap {
	background-color: var(--color-2);
	height: 30px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.ticker i {
	color: var(--color-1);
}
@font-face {
	font-family: "PF Agora Sans Pro 900";
	src: url(fonts/PFAgoraSansPro-Black.woff2);
}
@font-face {
	font-family: "PF Agora Sans Pro 500";
	src: url(fonts/PFAgoraSansPro-Medium.woff2);
}
.t-3 {
	font-family: "PF Agora Sans Pro 900";
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
}
.t-4 {
	font-family: "PF Agora Sans Pro 500";
	font-style: normal;
	font-size: 14px;
	line-height: 100%;
}
.ticker .t-4 {
	transform: translateY(2px);
	margin-left: 5px;
}
.eyes {
	gap: 9px;
	margin-inline-end: 11px;
}
.eye {
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: relative;
}
.eye::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: var(--color-3);
	border-radius: 100%;
	transform: translateX(72%) translateY(67%);
}
.ticker__line {
	display: inline-block;
	padding-right: 100%;
	box-sizing: content-box;

	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 12s;
	white-space: nowrap;
}
.line-wrap {
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding-left: 100%;
	box-sizing: content-box;
}
@keyframes ticker {
	0% {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}
@media (max-width:375px) {
	.ticker {
		background-color: var(--color-2);
	}
	.ticker__wrap {
		background-color: initial;
	}
}

.section-2 {
	margin-block-end: 80px;
}

.section-2 .splide__pagination__page {
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	opacity: 1;
	transform: none;
	margin: 0;
}
.section-2 .splide__pagination li {
	width: 15px;
	height: 15px;
}
.section-2 .splide__pagination__page.is-active {
	background-color: var(--color-2);
	opacity: 1;
	transform: none;
}
.section-2 .splide__arrow {
	display: none;
}
.section-2 .splide__slide img {
	object-fit: contain;
}
.section-2 .splide__pagination {
	bottom: 20px;
	margin-inline: auto;
	gap: 10px;
	width: max-content;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 102px;
	padding: 8px 10px;
}

h1 {
	font-family: 'PF Agora Sans Pro 1000';
	font-style: normal;
	font-weight: 1000;
	font-size: 40px;
	line-height: 110%;
	color: var(--color-2);
}
.section-3 {
	margin-block-end: 80px;
}
.section-3__right {
	flex-basis: 460px;
	flex-shrink: 0.5;
}
.section-3__left {
	flex-basis: 422px;
}
.section-3__wrap {
	gap: 60px;
}
.t-1 {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: var(--color-1);
}
.t-2 {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--color-3);
}
.section-3 .t-2 {
	margin-block-start: 10px;
	margin-block-end: 20px;
}

.x-1 {
	gap: 12px;
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes scale-shadow {
	0% {
		transform: scale(1);
		filter: brightness(1) blur(1.2px);
	}
	60% {
		transform: scale(0.95);
		filter: brightness(1.05) blur(1.8px);
	}
	100% {
		transform: scale(1);
		filter: brightness(1) blur(1.2px);
	}
}
.ghosts > * img {
	animation: move 2s ease-in-out infinite;
}
.ghosts > *:nth-child(2) img {
	animation-delay: 0.5s;
}
.ghosts > *:nth-child(3) img {
	animation-delay: 1s;
}
.ghosts > * {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ghosts > *::after {
	content: "";
	background: #CCCAD2;
	filter: blur(2px);
	width: 56%;
	height: 6%;
	border-radius: 100%;
	bottom: 0;
	animation: scale-shadow 2s ease-in-out infinite;
}
.ghosts > *:nth-child(2)::after {
	animation-delay: 0.5s;
}
.ghosts > *:nth-child(3)::after {
	animation-delay: 1s;
}

@media (max-width: 891px) {
	.section-3__wrap {
		flex-direction: column;
	}
	.section-3__left, .section-3__right {
		flex-basis: 0;
	}
}

@media (max-width:375px) {
	.section-3 {
		margin-block-end: 60px;
	}
	.section-3__left {
		display: none;
	}
	.section-2 {
		margin-block-end: 60px;
	}
	h1 {
		font-size: 32px;
	}
	.x-1 {
		gap: 10px;
	}
	.section-3 span.t-1 br {
		display: none;
	}
}
.section-4 {
	margin-block-end: 80px;
}
.section-4__wrap {
	background-color: var(--color-1-1);
	padding: 20px;
	border-radius: 3px;
}
.section-4__left {
	max-width: 450px;
}
button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 28px;
	border-radius: 120px;
	gap: 5px;
}
button span {
	font-family: 'PF Agora Sans Pro 900';
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	color: #FFFFFF;

}
.btn-1 {
	--this-color: var(--color-4);
	background-color: var(--this-color);
}
.x-2 {
	gap: 10px;
}
.section-4__right {
	max-width: 266px;
}
@media (max-width:375px) {
	.section-4 {
		background-color: var(--color-1-1);
	}
	.section-4__wrap {
		background-color: initial;
		padding: 20px 0;
		gap: 10px;
	}
	.h2 {
		font-size: 28px;
	}
	button {
		padding-inline: 21px;
	}
}
.btn-2 {
	--this-color: var(--color-1);
	background-color: var(--this-color);
}
.btn-3 {
	--this-color: var(--color-4);
	background-color: var(--this-color);
}
.section-5 {
	margin-block-end: 80px;
}
.section-5 button {
	width: 280px;
}
.section-5__wrap {
	gap: 20px;
}
.section-5 video {
	height: 538px;
	width: 100%;
}
.section-5__buttons {
	gap: 40px;
}

@media (max-width:375px) {
	.s-col-between {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.s-col-between-start {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	.section-5 {
		margin-block-end: 60px;
	}
	.section-5__buttons {
		gap: 10px;
		width: 100%;
	}
	.section-5 button {
		flex-grow: 1;
		width: 100%;
	}
	.section-4 {
		margin-block-end: 60px;
	}
	.section-5 video {
		height: auto;
	}
}
.section-6 {
	margin-block-end: 80px;
}
.section-6__wrap {
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.section-6, .section-6 .t-2 {
	color: var(--color-2);
}
.section-6__box {
	position: relative;
	flex-basis: 300px;
	aspect-ratio: 1;
}
.section-6__box .content {
	aspect-ratio: 1;
	height: 100%;
	border-radius: 3px;
	position: relative;
	padding-block-start: 21%;
	padding-inline-start: 8.1%;
	overflow: hidden;
	background-color: rgba(0, 181, 231, 0);
	transition: all 50ms;
}
.section-6__box * {
	transition: all 500ms;
}
.section-6 .overlay {
	background-color: rgba(0, 181, 231, 0.95);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	border-radius: 3px;
}
.section-6__box p {
	max-width: 190px;
}
.section-6__box:hover * {
	color: white;
}
.section-6__box:hover .overlay {
	opacity: 1;
}
.section-6__title {
	font-family: 'PF Agora Sans Pro 1000';
	font-style: normal;
	font-weight: 1000;
	font-size: 30px;
	line-height: 110%;
	text-transform: uppercase;
}

.section-6__subtitle {
	font-family: 'PF Agora Sans Pro 1000';
	font-style: normal;
	font-weight: 1000;
	font-size: 14px;
	line-height: 130%;
	margin-block-end: 18px;
}
.section-6__wrap {
	gap: 30px;
}
.section-6 .bg {
	z-index: -1;
	position: absolute;
	inset: 0;
	width: inherit;
	height: inherit;
}
@media (max-width:375px) {
	.section-6 {
		margin-block-end: 60px;
	}
	.section-6__wrap {
		gap: 60px;
	}
}
.section-7 {
	margin-block-end: 60px;
}
.section-7__wrap {
	gap: 40px;
}
.section-7__buttons {
	gap: 10px;
	flex-basis: 103%;
	flex-wrap: wrap;
	justify-content: flex-end;
	min-width: 300px;
}
.section-7 button {
	width: 145px;
	height: 50px;
}
.section-7 svg {
	width: 27px;
	height: 27px;
	flex-shrink: 0;
}
.btn-4 {
	--this-color: var(--color-2);
	background-color: var(--this-color);
}
.btn-5 {
	--this-color: var(--color-5);
	background-color: var(--this-color);
}
.section-7 .splide {
	--hide-arrows: 0;
}
.section-7 .splide__pagination {
	display: none;
}
.section-7 h3 {
	font-family: 'PF Agora Sans Pro 700';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	text-transform: initial;
	color: var(--color-2);
}
.section-7__card button {
	width: initial;
}
.section-7 .splide__arrows {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 2;
	width: 100%;
	max-width: 930px;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	pointer-events: none;
}
.section-7 .splide__arrow {
	all: unset;
	background: url('img/Arrowr.svg') no-repeat;
	height: 50px;
	width: 35px;
	margin-block: auto;
	cursor: pointer;
	background-size: cover;
	pointer-events: all;
}
.section-7 .splide__arrow--prev {
	transform: rotateY(180deg);
	opacity: 0;
}
.section-7 .splide__arrow--next {
	transform: translateX(75px);
}
.section-7 .splide__arrow svg {
	display: none;
}
.section-7 .splide__track {
	max-width: 860px;

}
.section-7__card {
	height: 400px;
	align-items: flex-start;
	box-shadow: inset 3px 4px 4px rgba(255, 255, 255, 0.25), inset 10px 12px 14px rgba(255, 255, 255, 0.25);
	background: #DDF3FF;
	border-radius: 3px;
}
.section-7 .splide__track {
	filter: drop-shadow(5px 4px 10px rgba(0, 0, 0, 0.05));
}
.section-7 .x-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.section-7 .x-4 {
	padding: 20px;
	height: 220px;
	box-sizing: content-box;
}
.section-7 h3 {
	flex-direction: column;
	align-items: flex-start;
	gap: 0;
}
.section-7 .x-5 {
	font-family: 'PF Agora Sans Pro 500';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #A0A0A0;
}
.section-7 .x-6 {
	height: 41px;
}
.section-7 .splide__slide img {
	border-radius: inherit;
}
.section-7__buttons button {
	border: 2px solid var(--this-color);
}
.section-7__buttons button.--active {
	background-color: transparent;
}
.section-7__buttons button.--active :is(span, path) {
	fill: var(--this-color);
	color: var(--this-color);
}

.section-7 .btn-2.--active path:first-child {
	stroke: var(--this-color);
	fill: white;
}
.section-7 .btn-2.--active path:last-child {
	fill: var(--this-color);
}
@media (max-width:375px) {
	.section-7__card {
		min-width: 260px;
	}
	.section-7__cards {
		max-width: 100%;
	}
	.section-7 .splide__arrow {
		width: 14px;
		height: 20px;
	}
	.section-7 .splide__arrows {
		width: 306px;
	}
	.section-7 .splide__arrow--next {
		transform: translateX(-18px);
	}
	.section-7 .x-7 {
		text-align: center;
		gap: 20px;
	}
	.section-7__buttons {
		flex-wrap: wrap;
		justify-content: center;
	}
	.section-7 .splide__track {
		overflow: visible;
	}
	.section-7 .container {
		overflow: hidden;
	}
	.section-7 .splide {
		--hide-arrows: 1
	}
}
.section-8 {
	margin-block-end: 40px;
}
.section-8__wrap {
	gap: 40px;
	position: relative;
}
.section-8 [alt='Guys'] {
	min-width: 406px;
	min-height: 307px;
}
.section-8 p {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	margin-block-end: 10px;
}
.section-8__crab {
	align-self: flex-end;
	transform: translate(-83px, 17px)
}
.section-8 strong {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}
.section-8 a {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	text-decoration-line: underline;
	color: var(--color-1);
	text-underline-offset: 3px;
	margin-block-end: 40px;
}
.section-8 button {
	padding: 16px 30px;
}
.section-8 h1 {
	margin-block-end: 20px;
}
@media (max-width:828px) {
	.section-8__wrap {
		flex-direction: column;
	}
	.section-8__crab {
		display: none;
	}
}
@media (max-width:375px) {
	.section-8 {
		margin-block-end: 60px;
	}
	.section-8__wrap {
		gap: 10px;
	}
	.section-8 [alt='Guys'] {
		min-width: initial;
		min-height: initial;
	}
	.section-8__crab {
		display: none;
	}
	.section-8__left {
		order: 0;
	}
	.section-8__right {
		display: contents;
	}
	.section-8 h1 {
		margin-block-end: 0;
		order: -1;
	}
	.section-8 button {
		margin-block-start: 10px;
		width: 100%;
	}
	.section-8 :is(a, p) {
		margin-block-end: 0;
	}
}

footer {
	background-color: var(--color-1);
	min-height: 186px;
	margin-block-start: 193px;
	color: white;
}
.footer__left {
	gap: 20px;
}
.footer__left path {
	fill: white;
	gap: 30px;
}
.footer__right {
	overflow: hidden;
	text-overflow: ellipsis;
}
.footer__logo {
	margin-inline-end: 30px;
}
.footer__wrap {
	position: relative;
	height: 186px;
	padding-block: 20px 40px;
}
.footer__things {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	transform: translateY(-48px);
}
.footer__socials {
	gap: 20px;
}
footer .t-3 br {
	display: none;
}
footer .x-8 {
	font-family: 'PF Agora Sans Pro 500';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.footer__terms {
	color: var(--color-2);
	text-decoration-line: underline;
	text-underline-offset: 2px;
	text-decoration-skip-ink: none;
	gap: 20px;
	white-space: nowrap;
}
.footer__terms br {
	display: none;
}
.footer__gulli {
	flex-basis: 98px;
	min-width: 55px;
}
footer .x-9 {
	gap: 10px;
	flex-shrink: 0.3;
}
footer .x-10 {
	gap: 15px;
}
footer p {
	max-width: 233px;
}
.footer__logo {
	width: 130px;
	height: 90px;
	cursor: pointer;
}

@media (max-width:375px) {
	footer {
		overflow: hidden;
		margin-block-start: 0;
		min-height: 303px;
	}
	.footer__wrap {
		display: grid;
		align-items: start;
		justify-content: start;
		grid-template-rows: min-content min-content 1fr;
		grid-template-columns: min-content 1fr;
		isolation: isolate;
	}
	footer .t-3 br {
		display: initial;
	}
	.footer__socials {
		gap: 10px;
		margin-block-end: 15px;
		grid-row: 1;
		grid-column: 1 / -1;
		justify-content: flex-start;
	}
	footer .x-11 {
		gap: 15px;
	}
	.footer__things {
		width: 123px;
		height: 309px;
		z-index: -1;
		transform: translate(13px, 202px);
	}
	.footer__logo {
		width: 88px;
		height: 60px;
		margin-inline-end: 17px;
		grid-row-start: 2;
		grid-column-start: 1;
	}
	.footer__gulli {
		width: 68px;
		height: 60px;
		grid-row-start: 2;
		grid-column-start: 2;
	}
	footer .x-9 {
		display: none;
	}
	.footer__terms {
		gap: 10px;
		margin-block-start: 40px;
		grid-row: 3;
		grid-column: 1 / -1;
	}
	.footer__terms br {
		display: initial;
	}
	.footer__left {
		display: contents;
	}
	.footer__right {
		display: contents;
	}
	footer .x-11 {
		display: contents;
	}
}